/* component header  */
.header {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.7);
  color: #e4e4e4;
  display: flex;
  height: 100px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.name-logo {
  display: flex;
  font-size: 1rem;
  width: 50%;
}

.name {
  margin-left: 15px;
}

.score {
  font-size: 2rem;
  margin-right: 30px;
}
