/* css antigo */
.App-logo {
  height: 15vmin;
  margin-bottom: 40px;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.login {
  color: white;
  min-height: 100vh;
  overflow: hidden;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* tela de login */
.form {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  margin: 150px auto;
  padding: 30px;
  text-align: center;
  width: 40%;
}

.form__label {
  margin: 20px;
  width: 70%;
}

.form__label__input {
  background-color: inherit;
  border: 0;
  border-bottom: 1px solid white;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  outline: none;
  padding: 10px;
  width: 95%;
}

.form__label__input:focus {
  border-color: dodgerblue;
  outline: none;
}

.form__label__input:-webkit-autofill {
  transition: background-color , 5000s ease-in-out 0s;
}

.form__label__input:-webkit-autofill:focus {
  transition: background-color , 5000s ease-in-out 0s;
}

.form__label__input:-webkit-autofill:active {
  transition: background-color , 5000s ease-in-out 0s;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.form__button {
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin: 5%;
  padding: 15px;
}

.form__button:disabled {
  background-color: rgb(3, 85, 167);
  color: rgb(150, 150, 150);
  cursor: not-allowed;
}


.form__button:hover {
  background-color: rgb(3, 85, 167);
  transform: scale(1.2);
  transition: all 0.3s;
}

.form__button:disabled:hover {
  background-color: red;
}

.settings {
  margin: 5%;
}

.headerSettings {
  color: aliceblue;
  margin: 150px auto;
  text-align: center;
}
