/* css antigo */
.App-logo {
  height: 15vmin;
  margin-bottom: 40px;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.login {
  background-image: linear-gradient(45deg, blue, purple);
  color: white;
  min-height: 100vh;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* tela de login */
.form {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  margin: 150px auto;
  padding: 30px;
  text-align: center;
  width: 40%;
}

.form__label {
  margin: 20px;
}

.form__label__input {
  border: none;
  border-radius: 2px;
  font-size: 15px;
  outline: none;
  padding: 10px;
  width: 95%;
}

.form__label__input:focus {
  border-color: rgb(114, 175, 89);
  outline: none;
}

.form__label__input:-webkit-autofill {
  transition: background-color , 5000s ease-in-out 0s;
}

.form__label__input:-webkit-autofill:focus {
  transition: background-color , 5000s ease-in-out 0s;
}

.form__label__input:-webkit-autofill:active {
  transition: background-color , 5000s ease-in-out 0s;
}

.form__button {
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  padding: 12px;
}

.form__button:hover {
  background-color: rgb(3, 85, 167);
  transition: all 0.3s;
}
