.form {
  align-items: center;
  border: 1px solid rgb(90, 90, 90);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  margin: 150px auto;
  padding: 30px;
  text-align: center;
  width: 40%;
}

.form__label {
  margin: 20px;
}

.form__label__input {
  border: 0;
  border-bottom: 1px solid rgb(90, 90, 90);
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px;
  width: fit-content;
}

.form__label__input:focus {
  border-color: rgb(114, 175, 89);
  outline: none;
}

.form__label__input:-webkit-autofill {
  transition: background-color , 5000s ease-in-out 0s;
}

.form__label__input:-webkit-autofill:focus {
  transition: background-color , 5000s ease-in-out 0s;
}

.form__label__input:-webkit-autofill:active {
  transition: background-color , 5000s ease-in-out 0s;
}

.form__button {
  font-size: 18px;
  padding: 8px 16px;
}
